<% if (!props.accessible) { %>
  <p><i><%= t('locked')%></i></p>
<% } else { %><p>
    <% if (props.correct !== true) { %>
      <a href="<%=prefix%>/map" <%- App.config.historyBack ? 'onclick="goBack()"' : ''%>><%= t('back') %></a><span style="display: inline-block; margin-left:8px; margin-right: 8px; color: #313131">•</span>
    <% } %>
    <span style="color: gray">
      <%= props.ratio %>
    </span>
    <% if (props.challenge.date) { %><span style="display: inline-block; margin-left:8px; margin-right: 8px; color: #313131">•</span>
      <span style="color:gray"><%= t('created')%> <%= App.moment(props.challenge.date).locale(locale).fromNow()%>
        <% if (props.challenge.author) { %>
          <%= t('by') %> <%= props.challenge.author %>
        <% } %>
      </span>
    <% } %><% if (!props.challenge.date && props.challenge.author) { %><span style="display: inline-block; margin-left:8px; margin-right: 8px; color: #313131">•</span>
        <span style="color:gray"><%= t('created')%> <%= t('by') %> <%= props.challenge.author %></span>
    <% } %><% if (props.correct !== true) { %>
      <span style="display: inline-block; margin-left:8px; margin-right: 8px; color: #313131">•</span><% if (props.withComlink) { %><a href="/feedback/<%= props.challenge.id %>" style="color:gray"><%=locale == 'de'? 'Frage stellen' : 'ask a question'%></a><% } else { %><a href="/hints/<%= props.challenge.id %>" style="color:gray">Hinweise (<%= props.hintsCount%>)</a><% } %>
    <% } %>
  </p>

  <div style="height:16px"></div>

  <% if (props.answer) { %>
    <p class="text-<%= props.correct === true ? App.config.styles.solutionClass_correct : App.config.styles.solutionClass_wrong %>">
      <% if (props.correct === 'none') { %>
        <strong><%= props.answer %></strong>
      <% } else { %>
        <strong><%= props.rawAnswer ? props.answer : `'${props.answer}'` %> <%= props.rawAnswer ? '' : props.correct ? t('correct') : t('wrong') %></strong>
      <% } %>
    </p>
  <% } %>

  <div style="height:16px"></div>

  <% if (props.correct === true) { %>
    <%- props.afterSolveText %>
    <p><a href="<%=prefix%>/map" id="continue-button"><%= t('continue') %></a></p>
  <% } else { %>
    <%- props.html %>
    <% if (!props.challenge.hidesubmit) { %>
      <form autocomplete="off" method="post" id="challenge_form">
        <input id="challenge_answer" type="text" name="answer" style="height: 32px; width: 200px;">
        <input type="submit" id="challenge_submit" class="btn btn-success" value="<%= t('go') %>" style="height: 32px; line-height: 1; margin-top: -4px; margin-left: 6px;">
</form>
    <% } %>
  <% } %>

  <div style="height:200px"></div>

  <p>
    <small style="display: inline-block; color: rgb(110, 110, 110); margin-top: 6px; margin-bottom: 8px;"><%= props.solvedBy == 1 ? t('solvedBy_one', {count: props.solvedBy}) : t('solvedBy_other', {count: props.solvedBy}) %><% if (props.lastSolved !== null) { %><%= ', ' + t('lastSolved', {ago: App.moment(props.lastSolved).locale(locale).fromNow(), name: props.lastSolvedUserName})%><%}%></small>
  </p>

<% } %>

<% if (locale === 'de' && props.withComlink) { %>
  <link rel="stylesheet" href="/comlink/styles.css">
  <script src="/comlink/<%=props.challenge.id%>.js"></script>
  <script src="/comlink/client.js"></script>
<% } %>