
<%- include('../languagePicker', {t, App, locale}) %>

<h2><%= t('loginHeading') %></h2>

<% if (props.invalidLogin) { %>
  <div class="alert alert-danger"><%= t('invalid') %></div>
<% } %>

<form action="<%=prefix%>/login" method="post" autocomplete="off" id="login-form">
  <div class="form-group" style="display: flex; align-items: end;">
    <label><%= t('name') %> <input class="form-control" type="text" name="username" value="" autofocus id="inputName" style="width: 212px;"/></label>
    <span style="display:inline-block;width:6px;"></span>
    <label style="margin-left:8px;"><%= t('password') %> <input class="form-control" type="password" name="password" value="" id="inputPw" style="width: 212px;"/></label>
    <span style="display:inline-block;width:15px;"></span>
    <button type="submit" class="btn btn-interaction" style="margin-bottom:8px;"><%= t('go') %></button>
  </div>
</form>

<% if (App.config.autoPassword) { %>
  <div id="locals-list" class="d-none">
    <p>Weiterspielen: <span id="locals"></span></p>
  </div>

  <script>
    window.onload = function() {
      try {
        const localUsers = JSON.parse(localStorage.getItem('htw_local_users') || '[]')
        if (localUsers.length > 0) {
          let html = ''
          for (let i = 0; i < localUsers.length; i++) {
            html += '<button class="btn btn-warning mx-2 btn-sm" style="vertical-align:baseline" onclick="applyUser(' + i + ')"><strong>' + localUsers[i].name + '</strong></button>'
          }
          document.getElementById('locals').innerHTML = html
          document.getElementById('locals-list').className = ''
        }
      } catch (e) {
        console.log(e)
      }
    }
    
    function applyUser(index) {
      const user = JSON.parse(localStorage.getItem('htw_local_users') || '[]')[index]
      document.getElementById('inputName').value = user.name
      document.getElementById('inputPw').value = user.password
      if (user.password) {
        setTimeout(function() {
          document.getElementById('login-form').submit()
        }, 100)
      } else {
        document.getElementById('inputPw').focus()
      }
    }
  </script>
<% } %>

<p class="my-4">
  <%- t('invite_', {link: `<a href="${prefix}/register">${ t('registerLink') }</a>`}) %>
</p>

<hr class="my-5"/>

<h2><%= t('top10') %></h2>

<%- include('../highscoreTable', {users:props.users, t, user, hideRank: false}) %>

<p style="margin-top: 24px;">[<a href="<%=prefix%>/highscore">Highscore</a>]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[<a href="<%=prefix%>/highscore?sort=new" style="white-space: nowrap;"><%=t('showRecent')%></a>]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [<a href="<%=prefix%>/community/activity"><%=t('community')%></a>]</p>

<% if (locale == 'de') { %>
  <hr class="my-5"/>

  <h2>Erfahrungsberichte</h2>

  <div class="container mt-4">
      <div class="row">
          <div class="col-md-4 mb-4">
              <div class="card">
                  <div class="card-body">
                      <p class="card-text">„Es ist simple aufgebaut, aber es macht sehr viel Spaß die Aufgaben zu lösen. Generell einfach ein guter vibe“</p>
                      <p style="text-align: right">S.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="card">
                  <div class="card-body">
                      <p class="card-text">„Es hat mir sehr gut gefallen dass es auch Gaming Rätsel gibt“</p>
                      <p style="text-align: right">E.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="card">
                  <div class="card-body">
                      <p class="card-text">„Ich war schon ein großer Fan von hacker.org und fühle mich direkt daran erinnert.“</p>
                      <p style="text-align: right">Y.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="card">
                  <div class="card-body">
                      <p class="card-text">„Hack the Web hat mir besonders gefallen da es meinen Horizont im Thema Hacking und IT erweitert hat “</p>
                      <p style="text-align: right">S.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="card">
                  <div class="card-body">
                      <p class="card-text">„Die große Variationen an Aufgaben ist super! Macht Spaß zurück zu kommen“</p>
                      <p style="text-align: right">S.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="card">
                  <div class="card-body">
                      <p class="card-text">„Mir hat es besonders viel Spass bereitet, über die verschiedenen Arten des Hackings und der jetzt offenen Möglichkeiten zu lernen. Basically limitless....“</p>
                      <p style="text-align: right">S.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>


<% } %>

<hr class="my-5"/>

<h2><%= t('rooms') %></h2>

<p><%- t('inviteOrga_', {link: `<strong><a href="${prefix}/create">${t('createRoom')}</a></strong>`}) %></p>

<p>[<a href="<%=prefix%>/join"><%= t('joinRoom') %></a>]</p>

<hr class="my-5"/>

<%- t('supporter_') %>

<p>
  <a href="<%=prefix%>/contact"><%= t('contactLink') %></a> |
  <a href="<%=prefix%>/privacy"><%= t('privacyLink') %></a> | 
  <a href="<%=App.config.githubHref%>" <% if (App.config.githubTargetBlank) { %> target="_blank" <% } %>><%= t('github') %></a> | 
  Version: <%=App.version%> (<a href="https://github.com/Entkenntnis/htw/releases" target="_blank"><%= t('news') %></a>)
</p>
