<style type="text/css">
  .no-underline {
    text-decoration: none !important;
  }
  body {
    background-image:url(<%- App.config.map.background %>);
  }
  .drawing {
    width: <%= App.config.map.width %>px;
    height: <%= App.config.map.height %>px;
    position: relative;
  }
  .license {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  /* Animate the drawing of lines */
  @keyframes drawLine {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  svg line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawLine 2s ease forwards;
  }

  /* Define the pulsing glow animation */
  @keyframes pulse {
    0% {
      filter: drop-shadow(0 0 5px var(--success));
    }
    50% {
      filter: drop-shadow(0 0 20px var(--success));
    }
    100% {
      filter: drop-shadow(0 0 5px var(--success));
    }
  }

  .fade-in {
    opacity: 0; /* Start fully transparent */
    animation: fadeIn 1s ease-out forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  /* Apply the pulse animation to green dots only */
  circle[fill="var(--success)"] {
    opacity: 0;
    animation: pulse 2s infinite, fadeIn 0.5s ease-out forwards;
  }

  svg text {
    opacity: 0; /* Start fully transparent */
    animation: fadeIn 0.5s ease-out forwards;
  }

  <% if (App.config.fullscreenMap) { %>
    .page-header {
      display: none
    }
    .container hr {
      display: none
    }
    .container .status {
      position: fixed;
      top: 10px;
      right: 20px;
      margin-top: 0;
      padding-left: 3px;
      padding-right: 3px;
      background-color: <%=App.config.statusBackgroundColor%>;
    }
  <% } %>
</style>

<div class="drawing">
  <%- props.map %>
  <span class="license">
    <%= t('background') %> <%- App.config.map.backgroundLicenseHtml %>
  </span>
  <%- props.customMapHtml %>
</div>
