
<%- include('../partials/languagePicker', {t, App, locale}) %>

<p style="margin-top: -24px; margin-bottom:48px;"><a href="/map"><%= t('challenge.back') %></a></p>

<p><%= t('username') %> <%= user.name %></p>
<p><%= t('score') %> <%= user.score %></p>
<% if (props.rank) { %>
  <p><%= t('rank') %>: <%= props.rank %> <span style="color:#dddddd;margin-left:12px;">(von <%= props.sum %>, Top <%= Math.ceil(props.rank * 100 / props.sum) %>%)</span></p>
<% } %>
<p><%= t('solved') %> <%= props.solved%></p>
<p><%= t('registered') %> <%= App.moment(user.createdAt).locale(locale).fromNow() %> (<%= App.moment(user.createdAt).locale(locale).format("LLLL") %>)</p>
<p><%= t('lastActive') %> <%= App.moment(props.lastActive).locale(locale).fromNow() %> (<%= App.moment(props.lastActive).locale(locale).format("LLLL") %>)</p>
<% if (props.lastChal) { %>
  <p><%= t('lastSolved') %>: <%= props.lastChal %></p>
<% } %>

<% if (props.room) { %>
  <hr />

  <p><%= t('room') %> <%= props.room%></p>
  <% if (user.session_phase === 'READY') { %>
    <p><%= t('sessionReady') %></p>
    <p><a href="<%=prefix%>/startsession"><%= t('startSession') %></a></p>
  <% } %>
  <% if (user.session_phase === 'ACTIVE') { %>
    <p><%= t('sessionActive') %></p>
    <p><a href="<%=prefix%>/endsession"><%= t('endSession') %></a></p>
  <% } %>
  <% if (user.session_phase === 'DONE') { %>
    <p><%= t('sessionDone') %></p>
    <p><%= t('sessionScore') %> <%= user.session_score %></p>
  <% } %>
<% } %>

<% if (!App.config.noSelfAdmin.includes(user.name)) { %>
  <p style="color: gray;">
    <a href="https://www.wechall.net/" style="color: gray" target="_blank"><strong>WeChall</strong></a>-Token: <%= props.token %> 
    <button onclick="copyToken()" id="copy-button" style="background:none;border:none;padding:0;cursor:pointer;width:12px;height:12px;margin-left:8px;outline:none" title="<%= t('copy') %>">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="gray" d="M384 336l-192 0c-8.8 0-16-7.2-16-16l0-256c0-8.8 7.2-16 16-16l140.1 0L400 115.9 400 320c0 8.8-7.2 16-16 16zM192 384l192 0c35.3 0 64-28.7 64-64l0-204.1c0-12.7-5.1-24.9-14.1-33.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1L192 0c-35.3 0-64 28.7-64 64l0 256c0 35.3 28.7 64 64 64zM64 128c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l192 0c35.3 0 64-28.7 64-64l0-32-48 0 0 32c0 8.8-7.2 16-16 16L64 464c-8.8 0-16-7.2-16-16l0-256c0-8.8 7.2-16 16-16l32 0 0-48-32 0z"/></svg>
    </button>
  </p>
  
  <p style="color: gray;">
    <a href="/export-data" style="color: gray"><%= t('exportData') %></a>
  </p>

  <p style="text-align:right" id="change-pw"><a href="<%=prefix%>/changepw"><%= t('changepw') %></a></p>
  <p style="text-align:right" id="rename-user"><a href="<%=prefix%>/rename"><%= t('rename') %></a></p>

  <p style="text-align:right"><a href="<%=prefix%>/delete"><%= t('delete') %></a></p>

<% } %>


<div style="margin-top: 48px;">
  <p><%= t('discordInvite') %></p>
  <a href="https://discord.gg/9zDMZP9edd" target="_blank"><img src="/discord.png" style="max-width: 200px;" alt="discord"></a>
  
<% if (!App.config.noSelfAdmin.includes(user.name)) { %>
  <p style="margin-top: 24px; max-width: 65ch;"><%- t('discordLinkingNote_', { link: `<a href="/link-discord">${t('discordLink')}</a>` }) %></p>
<% } %>
</div>

<script>
  function copyToken() {
    const token = '<%= props.token %>';
    navigator.clipboard.writeText(token).then(() => {
      const button = document.getElementById('copy-button');
      button.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="green" d="M504 75c9.4 9.4 9.4 24.6 0 33.9l-272 272c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L224 318.1 470.1 75c9.4-9.4 24.6-9.4 33.9 0z"/></svg>';
    }).catch(err => {
      console.error('Failed to copy token: ', err);
    });
  }
</script>

<div style="height:120px"></div>

<ul class="d-flex flex-row list-unstyled">
  <li class="mr-3"><a href="/contact"><%=t('contact.heading')%></a></li>
  <li class="mr-3"><a href="/privacy"><%=t('home.privacyLink')%></a></li>
  <li class="mr-3"><a href="https://github.com/Entkenntnis/htw/releases" target="_blank"><%=t('home.news')%></a></li>
  <li><a href="/links">Links</a></li>
</ul>

<div style="height:70px"></div>