<% if (users.length == 0) { %>
  <p><%= t('highscore.empty') %></p>
<% } else { %>
  <table class="table table-hover">
    <thead>
      <tr>
        <% if (!hideRank) { %>
          <th scope="col"><%= t('highscore.rank') %></th>
        <% } %>
        <th scope="col"><%= t('highscore.name') %></th>
        <th scope="col"><%= t('highscore.score') %></th>
        <th scope="col"><%= t('highscore.lastActive') %></th>
      </tr>
    </thead>
    <tbody>
      <% for (const row of users) { %>
        <tr <%- (user && row.name === user.name) ? `class="table-${App.config.styles.tableHighlightClass} user-own-row"` : '' %>>
          <% if (!hideRank) { %>
            <td><%=row.rank%></td>
          <% } %>
          <td style="padding-bottom: 6px;"><%=row.name%><% if (row.community) { %><span class="community-badge"><%= row.community %></span><% } %><br><small style="color: gray;"><%=locale == 'de' ? `seit ${row.age.replace('vor', '')} dabei` : t('highscore.joined') + ' ' + row.age%></small></td>
          <td><%=row.score%></td>
          <td style="padding-bottom: 6px;"><%=row.lastActive%><% if (row.lastActivityInCommunity) { %><br><span style="font-size: 0.6rem; color: rgb(165, 165, 0); vertical-align: top;"><%= t('highscore.communityActive') %></span><% } %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } %> 
