<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/> -->
    <link rel="icon" href="/winter25_icon.png" type="image/png" />
    <link rel="shortcut icon" href="/winter25_icon.png" type="image/png"/>

    <!-- Bootstrap -->
    <style>
      :root {
        --main-color: <%= mainColor || '#00bc8c' %>;
      }
    </style>
    <link href="/fonts/font.css" rel="stylesheet">
    <link href="/theme/<%= App.config.theme %>.min.css" rel="stylesheet">
    <link href="/theme/htw.css" rel="stylesheet">

    <script src="/htw.js" defer></script>

    <title><%= title %></title>
  </head>
  <body>
    <div class="container"><% if (user) { %>
        <%- include('./partials/statusBar', {user, t, App}) %>
      <% } %>
      <header class="page-header">
        <h1><a href="/"><%= brand %></a></h1>
        <p class="lead"><%= t('home.slogan') %></p>
      </header>
      
      <hr class="my-4"/>
      
      <% if (heading) { %>
        <h2><%= heading %></h2>
      <% } %>
      
      <% if (backButton) { %><p style="margin-top: 24px; margin-bottom:48px;"><a href="<%-backHref%>" id="back-button"><%= t('challenge.back') %></a></p><% } %>
      <% const contentHtml = content ? content : include(pagePath, {props, t, user, App}) %>
    <% if (!outsideOfContainer) { %>
      <%- contentHtml %>
      <% if (backButton) { %><div style="height: 100px;"></div><% } %>
    </div>
    <% } else { %>
    </div>
    <%- contentHtml %>
    <% } %>
  </body>
</html>
 
